<div id="auth-modal">
    <div class="modal-header">

        <div id="up">Sign Up</div>

        <div id="in">Sign In</div>
    </div>
    <div class="modal-body">
        <form id="sign-in-form" class="border">
            <input type="text" name="credentials[email]" placeholder="Email">
            <br>
            <input type="password" name="credentials[password]" placeholder="Password">
            <input type="submit" value="Sign in">
        </form>
    </div>
</div>