<!-- Edit Device -->
<div class="tmp">
    <h1>Update Device Information</h1>
    <hr>
    <form id="edit-device-form" class="border">
        <input type="text" name="device[make]" placeholder="{{{device.make}}}">
        <input type="text" name="device[model]" placeholder="{{device.model}}">
        <input type="text" name="device[serial_number]" placeholder="{{device.serial_number}}">
        <input type="submit" value="Edit Device">
    </form>
</div>

