

    <div class="modal repair-modal">
        <form id="repair-form" class="border">
            <input type="text" name="reapiars[email]" placeholder="">
            <input type="password" name="credentials[password]" placeholder="Password">
            <input type="submit" value="Request a Repair">
        </form>
    </div>

