<div class="sidebar">
    <ul class="sidebar-nav">
        <br />
        <li id="appointments">Appointments</li>
        <br />
        <li id="repairs">Repairs</li>
        <br />
        <li id="devices">My Devices</li>
        <br />
        <li id="settings">Settings</li>
    </ul>
</div>