<div class="sidebar">
    <ul class="sidebar-nav">
        <br />
        <li>Appointments</li>
        <br />
        <li>Repairs</li>
        <br />
        <li>My Devices</li>
        <br />
        <li>Settings</li>
    </ul>
</div>