// Paying homage to http://glyphicons.com/
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './auth.scss';

.navbar{
    margin-bottom: 0;
}

.main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "sidebar content";
}

ul {
    list-style-type: none;
    font-size: 1em;
    padding: 0 10%;
}

li {
    padding: auto auto;
}

.sidebar,li:hover {
    background-color: rgba($color: #000000, $alpha: .40);
    transition: all ease-in-out 250ms;
}

.sidebar {
    grid-area: sidebar;
    min-height: 100vh;
}

.content {
    grid-area: content;
    height: 100%;
}

// .wrapper { 

// }

h1 {
    padding-left: 5%;
}

.glyphicon {
    font-size: 1em;
}

.tmp {
    overflow: scroll;
    
    h1 {
        padding-left: 5%; 
    }
}

