$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './auth.scss';

.navbar{
    margin-bottom: 0;
    // border-radius: 0;
}

.main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "sidebar content";
}

ul {
    list-style-type: none;
    font-size: 1em;
    padding: 0 10%;
}

li {
    padding: auto auto;
}

.sidebar, li:hover {
    background-color: rgba($color: #000000, $alpha: .40);
    // color: white;
    transition: all ease-in-out 250ms;
}

.sidebar {
    grid-area: sidebar;
    // background-color: cornflowerblue;
    height: 100%;
    // padding-top: 5%;

}

.content {
    grid-area: content;
    height: 100%;
}

// .wrapper { 

// }

h1 {
    padding-left: 5%;
}

// Paying homage to http://glyphicons.com/
.glyphicon {
    font-size: 1em;
}

.tmp h1 {
    padding-left: 5%; 
}

